<!-- users.ejs -->
<html>

<head>
    <%- include('partials/head.ejs') %>
    <title>Users</title>
</head>

<body class="container">
    <%- include('partials/topnav.ejs') %>
    <h1>Users List</h1>
    <table class='table'>
        <thead>
            <th>Id</th>
            <th>Name</th>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><a href="/users/<%= user.id %>">
                            <%= user.id %>
                        </a></td>
                    <td>
                        <%= user.firstName %> <%= user.lastName %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="/users?page=<%= page - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/users?page=<%= page + 1%>" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>
